:root {
  font-family: "Inter", sans-serif;
}

/* ----------- experimental multi-axis variable -----------

TAKEN FROM inter.css

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single-file variable font is opt-in rather than the default.
When using this, you will likely need to set font-variation-settings explicitly, e.g:
  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }
*/

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var experimental", sans-serif;
  }
  /* italics */
  em {
    font-style: normal;
    font-variation-settings: "slnt" -10;
  }
}





:root,
html.theme-light {
  --font-mono: "Fira Mono", monospace;
  --font-serif: "Noto Serif", serif;
  --color-bg-0: rgb(251, 249, 243);
  --color-header-bg: rgba(252, 250, 245, 0.9);
  --color-bg-1: hsl(209, 36%, 86%);
  --color-bg-2: hsl(224, 44%, 95%);
  --color-fg-1: hsl(0, 0%, 0%);
  --color-underline-link-1: hsl(0, 0%, 50%);
  --color-underline-link-1-hover: hsl(0, 0%, 10%);
  --color-theme-1: #ff5117;
  --color-theme-2: #40b3ff;
  --color-text: hsl(0, 0%, 10%);
  --color-link: hsl(207, 77%, 45%);
  --color-underline-link: linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1));
  --color-underline-link-hover: linear-gradient(to right, rgb(70, 87, 175), rgb(20, 58, 185), rgb(118, 39, 244));

  --transition-1: 0.15s;

  --color-bg-quantity-subingredient: rgba(255, 153, 0, 0.151);

  --color-subingredient-name: #ff962e;
  /* --color-subingredient-name: #ff3916; */
  --border-size-1: 1px;
  --border-size-2: 1.5px;

  /* --header-height: clamp(3em, 1.5em + 2vw, 4em); */
  --header-height: 2.3rem;
  /* --header-border-bottom: solid 1px var(--color-text); */
  --header-border-bottom: dashed var(--border-size-1) var(--color-fg-1);
  --sidebar-recipe-border: dashed var(--border-size-1) var(--color-subingredient-name);
  // --sidebar-recipe-border: dashed var(--border-size-1) var(--color-fg-1);
  --tippy-border: dashed var(--border-size-2) var(--color-fg-1);
  --padding-1: clamp(1rem, 0.5rem + 2vw, 2.5rem);

  --padding-inline-main: var(--padding-1);
  --padding-block-main: 1.5rem;
  --padding-inline-header: var(--padding-1);

  --padding-button: 0.3em;
  /* --margin-inline-header: var(--padding-1); */

  --pre-bg: hsl(0, 0%, 70%);
  color: var(--color-text);
  --bg-radial-gradient: radial-gradient(  
    circle at var(--mouse-x, 50%) 190%,
    rgba(255, 162, 0, 0.4) 0%,
    rgba(255, 0, 0, 0) 70%
  );
  --bg-noise-background-opacity: 1;
  // --bg-dotted-background: #f5eed7;
}

html.theme-dark {
  color-scheme: dark;
  --color-text: hsl(0, 0%, 90%);
  --color-link: hsl(223, 100%, 74%);
  --pre-bg: hsl(0, 0%, 20%);
  --color-underline-link-1: hsl(0, 0%, 90%);
  --color-underline-link-1-hover: hsl(0, 0%, 80%);

  --color-bg-0: rgb(14, 20, 27);
  --color-header-bg: rgb(14, 20, 27, 0.7);
  --color-fg-1: hsl(0, 0%, 100%);
  --color-bg-quantity-subingredient: rgba(19, 82, 116, 0.233);

  --color-underline-link: linear-gradient(to right, rgb(200, 144, 47), rgb(200, 144, 47));
  --color-underline-link-hover: linear-gradient(to right, rgb(220, 35, 35), rgb(205, 52, 64), rgb(225, 38, 97));

  /* --color-subingredient-name: #2dafd3; */
  --color-subingredient-name: #edac21;
  --bg-radial-gradient: radial-gradient(
    circle at var(--mouse-x, 50%) 200%,
    rgba(151, 2, 2, 0.261) 10%,
    rgba(255, 0, 0, 0) 70%
  );
  --bg-noise-background-opacity: 0.1;
  // --bg-dotted-background: #1a2531;
}

body {
  // font-size: 0.95em;
  background-color: var(--color-bg-0);
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: var(--pre-bg);
  padding: 0.5em;
  overflow-x: auto;
  color: var(--color-text);
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

article {
  a,
  a:visited {
    color: var(--color-link);
    text-underline-offset: 0.14em;
    text-decoration-color: var(--color-link);
    // text-decoration: underline red;
  }
  a:hover {
    text-decoration-color: var(--color-link);
    text-decoration-thickness: 0.12em;
    text-decoration-thickness: max(2px, 0.12em);
    // text-underline-offset: 0.12em;
  }
}

a {
  color: var(--color-text);
  text-underline-offset: 0.14em;
  text-decoration-color: var(--color-underline-link-1);
  // text-decoration-thickness: 0.05em;

  &:hover {
    text-decoration-color: var(--color-underline-link-1-hover);
    text-decoration-thickness: 0.12em;
    text-decoration-thickness: max(2px, 0.12em);
    // text-underline-offset: 0.12em;
  }
}

button:hover {
  cursor: pointer;
}

.button-no-style {
  border: none;
  background: none;
  /* padding: 2px 4px; */
  padding: var(--padding-button);
}

ul.ul-1,
.ul-1-global ul,
.nota-container article ul {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 0.5em;

    &:before {
      content: "-";
      margin-right: 0.5em;
    }

    ul {
      margin-top: 0.5em;
      margin-left: 1.4em;
    }
  }
}

.emoji-inline,
.emoji-inline-svg > svg {
  display: inline;
  width: 1.1em;
  vertical-align: -0.19em;
  height: auto;
  // margin: .1em;
  padding-inline: 0.1em;
  box-sizing: content-box;
}
