
.tippy-box[data-animation=fade][data-state=hidden] {
	opacity: 0
}

[data-tippy-root] {
	max-width: calc(100vw - 10px)
}

.tippy-box[data-placement^=bottom] {
   /* with arrows */
   /* transform: translateY(clamp(.1em, .05em + .9vw, 1.3em)); */
   transform: translateY(clamp(.4em, -.2em + .9vw, 1.1em));
}

.tippy-box {
	position: relative;
	border-radius: .2em;
	line-height: 1.4;
	white-space: normal;
	outline: 0;
	transition-property: transform, visibility, opacity, background-color;
   transition-duration: var(--transition-1) !important;
	font-size: 0.9em;
   font-weight: 500;
	background-color: var(--color-bg-0);
	color: var(--color-fg-1);
   border: var(--tippy-border)
}

.tippy-box[data-placement^=top]>.tippy-arrow {
	bottom: 0
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
	bottom: -7px;
	left: 0;
	border-width: 8px 8px 0;
	border-top-color: initial;
	transform-origin: center top
}

.tippy-box[data-placement^=bottom]>.tippy-arrow {
	top: 0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:after {
	top: -7px;
	left: -2px;
	border-width: 0 8px 8px;
	border-bottom-color: initial;
	transform-origin: center bottom
}
.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
	top: -9px;
	left: -2px;
	border-width: 0 8px 8px;
	border-bottom-color: initial;
	transform-origin: center bottom
}

.tippy-box[data-placement^=left]>.tippy-arrow {
	right: 0
}

.tippy-box[data-placement^=left]>.tippy-arrow:before {
	border-width: 8px 0 8px 8px;
	border-left-color: initial;
	right: -7px;
	transform-origin: center left
}

.tippy-box[data-placement^=right]>.tippy-arrow {
	left: 0
}

.tippy-box[data-placement^=right]>.tippy-arrow:after {
	left: -6px;
   top: -1px;
	border-width: 8px 8px 8px 0;
	border-right-color: initial;
	transform-origin: center right
}

.tippy-box[data-placement^=right]>.tippy-arrow:before {
	left: -8px;
   top: -1px;
	border-width: 8px 8px 8px 0;
	border-right-color: initial;
	transform-origin: center right
}

.tippy-box[data-inertia][data-state=visible] {
	transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11)
}

.tippy-arrow {
	width: .8em;
	height: .8em;
   transition: color var(--transition-theme) cubic-bezier(.54, 1.5, .38, 1.11);
}

.tippy-arrow:after {
	content: "";
	position: absolute;
	border-color: transparent;
	border-style: solid;
   color: var(--color-bg-0);
}

.tippy-arrow:before {
	content: "";
	position: absolute;
	border-color: transparent;
	border-style: solid;
   color: var(--color-fg-1);
}

.tippy-content {
	position: relative;
	padding: 5px 9px;
	z-index: 1
}


.tippy-box[data-animation=shift-away][data-state=hidden] {
	opacity: 0
}

.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=top] {
	transform: translateY(.2em)
}

.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=bottom] {
	transform: translateY(-.2em)
}

.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=left] {
	transform: translateX(.2em)
}

.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=right] {
	transform: translateX(-.2em)
}

.tippy-box[data-animation=shift-toward][data-state=hidden] {
	opacity: 0
}

.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=top] {
	transform: translateY(-.2em)
}

.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=bottom] {
   /* with arrows */
	/* transform: translateY(clamp(1em, .5em + .9vw, 2em)); */
	transform: translateY(clamp(1em, .5em + .9vw, 2em));
}  

.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=left] {
	transform: translateX(-.2em)
}

.tippy-box[data-animation=shift-toward][data-state=hidden][data-placement^=right] {
	transform: translateX(.2em)
}