h5.recipe-subingredient-title[data-v-3f1701f4]{color:var(--color-subingredient-name);margin-block:0 .4em}.subingredient[data-v-3f1701f4]{-moz-column-break-inside:avoid;break-inside:avoid;margin-bottom:2rem}
